In [1]:

import warnings
warnings.filterwarnings("ignore")

In [2]:
ls

 combine.csv
 combineNormalize.csv
 data_1024.csv
 data1.csv
'Data1 + Kmean 2 label.ipynb'
 data2.csv
'Data2 + Kmean 2 label.ipynb'
 data2_kmeans.labels_.csv
 data3.csv
'Data3 + Kmean 2 label-Copy1.ipynb'
 data3_kmeans.labels_.csv
 plot_kmeans_digits.ipynb
 README.md
 results.csv
 Siamak_dataset.csv
'Siamak dataset normalize- Kmean-06-30-2019.ipynb'
'Siamak dataset-real - Kmean-06-30-2019.ipynb'

In [3]:
import pandas as pd
combineNormalize=pd.read_csv('combine.csv' )

In [4]:
combineNormalize.shape

(251, 777)

In [5]:
combineNormalize.head()

,ARTMean,RNFLMean_G,RNFLMean_T,RNFLMean_TS,RNFLMean_TI,RNFLMean_N,RNFLMean_NS,RNFLMean_NI,RNFLT.1,RNFLT.2,...,RNFLT.760,RNFLT.761,RNFLT.762,RNFLT.763,RNFLT.764,RNFLT.765,RNFLT.766,RNFLT.767,RNFLT.768,Label
0,53,51,30,79,37,42,97,46,22,22,...,17,17,17,17,18,20,21,22,22,0
1,18,47,33,91,48,39,57,38,29,29,...,27,27,27,27,28,28,28,28,28,0
2,100,38,38,46,55,27,36,37,32,31,...,30,31,32,32,33,33,34,34,33,0
3,100,76,53,85,125,62,113,70,33,33,...,37,37,37,36,36,36,35,35,34,1
4,97,38,35,51,41,30,39,39,23,23,...,27,25,24,23,23,23,23,23,23,0

In [6]:
data_selection=combineNormalize.iloc[:,0:776].fillna(0)
data_selection.shape

(251, 776)

In [7]:
data_selection.head()

,ARTMean,RNFLMean_G,RNFLMean_T,RNFLMean_TS,RNFLMean_TI,RNFLMean_N,RNFLMean_NS,RNFLMean_NI,RNFLT.1,RNFLT.2,...,RNFLT.759,RNFLT.760,RNFLT.761,RNFLT.762,RNFLT.763,RNFLT.764,RNFLT.765,RNFLT.766,RNFLT.767,RNFLT.768
0,53,51,30,79,37,42,97,46,22,22,...,18,17,17,17,17,18,20,21,22,22
1,18,47,33,91,48,39,57,38,29,29,...,27,27,27,27,27,28,28,28,28,28
2,100,38,38,46,55,27,36,37,32,31,...,30,30,31,32,32,33,33,34,34,33
3,100,76,53,85,125,62,113,70,33,33,...,37,37,37,37,36,36,36,35,35,34
4,97,38,35,51,41,30,39,39,23,23,...,29,27,25,24,23,23,23,23,23,23

In [8]:
X=data_selection.values

In [9]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [10]:
kmeans.labels_

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1], dtype=int32)

In [11]:
from collections import Counter
print(Counter(kmeans.labels_).keys()) # equals to list(set(words))
print(Counter(kmeans.labels_).values()) # counts the elements' frequency

dict_keys([1, 0])
dict_values([88, 163])

In [12]:
import numpy
numpy.savetxt("Siamak_datasetÙ€Real.csv", kmeans.labels_, delimiter=",")